<div class="container">
    <h2>User List</h2>
  
    <button (click)="addUser()">Add User</button>
  
    <table  cellpadding="6" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th><th>Name</th><th>Email</th><th>Address</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>
            <button (click)="editUser(user.id!)">Edit</button>
            <button (click)="deleteUser(user.id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  